*{
    margin: 0; padding: 0;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.header
{
    position: fixed;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(26, 0, 78);
    padding: 0px 29px;
    z-index: 1;
}

.left-side
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-search
{
    color: #fff;
    font-size: 16px;
}

.logo
{
    color: rgb(245, 237, 237);
    font-size: 17px;
    margin-right: 40px;
    padding: 10px;
}

.left-side::after
{
    position: relative;
    left: -75px;
    content: '';
    width: 70px; height: 1px;
    background-color: #fff;
    transform: rotate(90deg);

}

   /* hamburger menue */
.hamburger-menue
{
    position: relative;
    top: 0px; left: 0;
    width: 34px; height: 53px;
    margin: 10px 0;
    padding: 0 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(44, 28, 100, 0.75);
    border-radius: 0.75rem;
}

.hamburger-menue div
{
    display:block;
    width: 19px; height: 1.6px;
    background-color: rgb(250, 249, 249);
    border-radius: 20px;
}

.hamburger-menue div::before,
.hamburger-menue div::after
{
    content: '';
    position:relative;
    display: block;
    width: inherit; height: inherit;
    background-color: inherit;
    top: -6.3px;
}

.hamburger-menue div::after
{
    top: 5.2px;
}



 /* items of navbar */


.navbar
{
    display: none;
}

@media only screen  and (min-width: 768px) {
    .hamburger-menue
    {
        display: none;
    }

    .header
    {
        width: 95vw;
    }

    .logo
    {
        font-size: 20px;
    }

    .navbar
    {
        display: flex;
    }

    .items-of-navbar
    {
        display:flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding: 15px;
    }

    .items-of-navbar a
    {
        color: #fff;
        text-decoration: none;
        margin-left: 26px;
        font-weight: bold;
    }

    .items-of-navbar li:last-child::after
    {
        position: relative;
        top: 0; left: 0;
        content: "";
        background: url('./images/MRPoster.jpg');
        width: 40px; height: 40px;
        display: inline-block;
        background-position: center;
        background-size: contain;
        border-radius: 100px;
        vertical-align: middle;
        margin-left: 34px;
    }
}



/* slide show */


.slide-show
{
    position: relative;
    top: 70px;
    max-width: 100%; height: 700px;
    background: url('./images/sidorova-alice-UTVqj0z93ks-unsplash.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
