*{
    margin: 0; padding: 0;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 21, 78);
    padding: 0 29px;

}

.logo
{
    color: rgb(245, 237, 237);
    font-size: 17px;

}

   /* hamburger menue */
.hamburger-menue
{
    position: relative;
    top: 0px; left: 0;
    width: 34px; height: 53px;
    margin: 10px 0;
    padding: 0 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(28, 45, 100, 0.75);
    border-radius: 0.75rem;
}

.hamburger-menue div
{
    display:block;
    width: 19px; height: 1.6px;
    background-color: rgb(250, 249, 249);
    border-radius: 20px;
}

.hamburger-menue div::before,
.hamburger-menue div::after
{
    content: '';
    position:relative;
    display: block;
    width: inherit; height: inherit;
    background-color: inherit;
    top: -6.3px;
}

.hamburger-menue div::after
{
    top: 5.2px;
}



 /* items of navbar */


.navbar
{
    display: none;
}

@media only screen  and (min-width: 768px) {
    .hamburger-menue
    {
        display: none;
    }

    .navbar
    {
        display: flex;
    }

    .items-of-navbar
    {
        display:flex;
        list-style-type: none;
        padding: 23px;
    }

    .items-of-navbar a
    {
        color: #fff;
        text-decoration: none;
        margin-left: 26px;
    }
}